// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  color: black;
  font-weight:bold;
  background-color:purple;
  padding:25px;
  margin: 25;
  font-stlye:comic;


}


.field{
 padding:5px;
 margin:0px;
}
.actions{
  padding: 5px;
}




 